<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />

	<link rel="icon" href="/images/favicon.png">
    <title>Mind Search</title>
  </head>
  <body>
    <nav id="mainNavbar" class="navbar bg-light navbar-light navbar-expand-lg">
      <div class="container-fluid flex-nowrap">
        <a class="navbar-brand" href="/"
          ><img class="img-fluid" src="/images/mindSearch-logo-color-half-sz.png" alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navTogglerMain"
          aria-controls="navTogglerMain"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navTogglerMain">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/signup">Sign Up</a>
          <a class="nav-item nav-link" href="/providers">Search</a>
          <a class="nav-item nav-link" href="/about">About</a>
        </div>
      </div>
    </nav>