<% include partials/header %>

    <div id="header" class="jumbotron jumbotron-fluid">
      <div class="container-fluid text-center">
        <h1>Mind Search Today</h1>
        <h2>Reinventing The Search For Therapy</h2>
        <a id="getstarted" href="/signup" class="btn btn-info mst-style">Get Started</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="content" class="mst-h3-style">
            <h3>Why Mind Search Today</h3>
            <p>
              The <strong>National Alliance On Mental Illness</strong> states that millions of Americans are impacted by
              mental health conditions every year. Approximately 1 in 5 adults in the U.S.
              <strong>(46.6 million)</strong> experiences mental illness in a given year. Approximately 1 in 25 adults
              in the U.S. <strong>(11.2 million)</strong> experiences a serious mental illness in a given year that
              substantially interferes with or limits one or more major life activities. Approximately 1 in 5 youth aged
              13–18 <strong>(21.4%)</strong> experiences a severe mental disorder at some point during their life. For
              children aged 8–15, the estimate is 13%.
            </p>
            <p>
              Talk about <strong>prevalent!</strong> These numbers are quite alarming and to make matters worse, that is
              why Mind Search is out to deliver a streamlined solution to solve the biggest
              <strong>pain point</strong> in the
              <strong>
                mental health community
              </strong>
              of <strong>locating your provider</strong>. With a <strong>user friendly</strong> platform, you’ll be able
              to <strong>locate your provider</strong> and get the help you need ASAP.
            </p>
          </div>
        </div>
      </div>
    </div>

<% include partials/footer %>
