<% include partials/header %>

    <div class="container-fluid">
      <div class="d-flex flex-row justify-content-center">
        <div class="col col-lg-4 d-none d-lg-block">
          <img src="/images/andrew-neel-QLqNalPe0RA-unsplash.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col col-12 col-lg-8">
          <form action="/register" method="POST">
            <p>
              <strong class="form-text"
                >Please give us some information about yourself before we begin.</strong
              >
            </p>
            <div class="form-group">
              <label for="signup-fname">First name</label>
              <input
                type="text"
                class="form-control"
                id="signup-fname"
                placeholder="First name"
                name="firstname"
                required=""
              />
              <div class="invalid-feedback">
                This is a required field.
              </div>
            </div>

            <div class="form-group">
              <label for="signup-lname">Last name</label>
              <input
                type="text"
                class="form-control"
                id="signup-lname"
                placeholder="Last name"
                name="lastname"
                required=""
              />
              <div class="invalid-feedback">
                This is a required field.
              </div>
            </div>

            <div class="form-group">
              <label for="signup-email">Email</label>
              <input type="email" class="form-control" id="signup-email" placeholder="Email" name="email" required="" />
              <div class="invalid-feedback">
                This is a required field.
              </div>
            </div>
            <div class="form-group">
              <label for="signup-email-2">Confirm email</label>
              <input
                type="email"
                class="form-control"
                id="signup-email-2"
                placeholder="Email"
                name="username"
                required=""
              />
              <div class="invalid-feedback">
                This is a required field.
              </div>
              <small class="form-text text-muted">Please make sure your email address is correct.</small>
            </div>

		    <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="password" name="password" required="" />
              <div class="invalid-feedback">
                This is a required field.
              </div>
            </div>
            <button type="submit" class="btn btn-primary mst-style">Sign Up</button>
          </form>
        </div>
      </div>
    </div>

<% include partials/footer %>
