body {
	font-family: "Montserrat", sans-serif;
}

#header {
	background: url("/images/dan-meyers-9gBhMuAmiPA-unsplash.jpg");
	/* Set a specific height */
	height: 500px;

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	color: white;
}

#brandingText {
	color: #8f8cc3;
}

#mainNavbar .nav-link {
	color: rgb(143, 155, 194);
}
#mainNavbar .nav-link:hover {
	color: black;
}
#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}
a:active {
	color: black;
}

.activePage {
	color: black !important;
}

h1 {
	font-weight: 500;
	font-size: 4rem;
}

.nav-item {
	white-space: nowrap;
}

.mst-h3-style {
	text-align: center;
	color: hsl(211, 100%, 25%);
}
.mst-h3-style p {
	margin-top: 50px;
	color: hsl(254, 100%, 25%);
}
.mst-h3-style li {
	text-align: left;
}

#getstarted {
	margin-top: 80px;
}

.mst-style {
	background-color: rgb(143, 155, 194);
	border: 1px solid rgb(143, 155, 194);
}

.form-text {
	color: rgb(143, 155, 194);
}

.thumbnail img {
	max-width: 50px;
	height: auto;
	border: 5px solid red;
}
